<?xml version="1.0"?>
<!--comments are based on http://stackoverflow.com/questions/23509617/why-does-net-generate-two-web-config-files-in-an-mvc-asp-net-application-->
<!--and http://haacked.com/ -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <!--pageBaseType="System.Web.Mvc.WebViewPage" - The value of that attribute specifies the base page type for all Razor views in your application. http://haacked.com/archive/2011/02/21/changing-base-type-of-a-razor-view.aspx/-->
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <!--add default name spaces to pages instead of having to use @using all the time-->
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <!--always add your project on namespace-->
        <add namespace="BarebonesMVC" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <!--settings for BlockViewHandler. false value prevents them from being access directly regardless of where they reside in the application-->
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <!--Blocking requests attempting to access razor and aspx views directly-->
      <!--http://haacked.com/archive/2008/06/25/aspnetmvc-block-view-access.aspx/-->
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>