<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>



<!--scripts-->
<script type="text/javascript" src="/js/barebones-vendor.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
@RenderSection("scripts", false)
<!--endscripts-->
</body>

</html>
